.app-header {
  padding: 5px;
  background-color: #ffff;
  border-bottom: 1px solid gray;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.search{
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  text-align: center;
}
.app-header-icons{
  /* background-color: rebeccapurple; */
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}