.post {
  background-color: #fafafa;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  width: 650px;
  height: auto;
  margin-bottom: 10px;
}
.post-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}
.post-header p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.post-image{
  width: 650px;
  object-fit: contain;
}
.post-status {
    padding: 0px 10px;
    text-overflow: ellipsis;
}
